<div ng-controller="EntityTypesController as ctrl">
    <div ng-if="ctrl.entityTypes">
        <li ng-repeat="entityType in ctrl.entityTypes">
            <a ui-sref="entityType.details(entityType)">{{entityType}}</a>
        </li>
    </div>
</div>